@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.bg1 {
  background-image: url(../images/background-12.jpg);
  background-size: cover;
  background-position: center;
  height: 125vh;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg1 {
    height: 190vh;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg1 {
    padding: 10px 20px;
    height: 350vh;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg1 {
    padding: 10px 20px;
    height: 250vh;
  }
}

header {
  padding: 15px 0;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 0px) and (max-width: 480px) {
  .f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .f .flax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav ul {
  list-style: none;
}
@media (min-width: 0px) and (max-width: 480px) {
  nav ul {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  display: inline;
  padding: 10px;
  font-size: 18px;
}
nav ul li a {
  color: white;
}

nav li:hover a {
  color: red;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 20px;
}

.btn {
  border: 2px solid #fff;
  padding: 20px 40px;
  border-radius: 30px;
  margin-left: 20px;
  color: #fff;
}
@media (min-width: 760px) and (max-width: 1045px) {
  .btn {
    border: none;
    padding: 0;
  }
}

.bg1_left {
  color: #fff;
}
.bg1_left h1 {
  font-size: 70px;
  font-weight: 900;
  padding: 20px 0;
  color: #1bfca2;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg1_left h1 {
    font-size: 49px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg1_left h1 {
    font-size: 60px;
  }
}
.bg1_left h2 {
  font-size: 55px;
  color: aqua;
  padding: 20px 0;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg1_left h2 {
    font-size: 35px;
  }
}

.f-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.capital {
  font-size: 150px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .capital {
    font-size: 80px;
  }
}

.rotate {
  -webkit-animation: rot 12s infinite linear;
          animation: rot 12s infinite linear;
}
@media (min-width: 0px) and (max-width: 480px) {
  .rotate {
    width: 100%;
  }
}

@-webkit-keyframes rot {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.footer-container {
  background-color: #06254C;
  color: #fff;
}

.copyright {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.r {
  width: 39px;
  height: 20px;
  border-radius: 50%;
}

.bgg1 {
  background-image: url(../images/background-12.jpg);
  height: 150vh;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bgg1 {
    height: auto;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bgg1 {
    height: auto;
  }
}
.bgg1 .small-box {
  text-align: center;
  background-color: #044557;
  width: auto;
  height: 371px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bgg1 .small-box {
    height: auto;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bgg1 .small-box {
    height: auto;
    overflow-y: hidden;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bgg1 .small-box {
    height: auto;
  }
}
.bgg1 h1 {
  text-align: center;
  font-size: 80px;
  color: aqua;
  padding-top: 40px;
  padding-bottom: 40px;
}
.bgg1 h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 60px;
  font-weight: 900;
  padding: 20px 0;
  color: #1bfca2;
}
.bgg1 .f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bgg1 .f .gole {
  border-radius: 50%;
  width: 23px;
  height: 27px;
}
.bgg1 .box-f {
  font-size: 30px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.bgg1 .box {
  width: 200px;
  height: 100px;
  background-color: #F8ECFF;
}
.bgg1 .box1 {
  width: 200px;
  height: 100px;
  background-color: #FFBD80;
}
.bgg1 .box2 {
  width: 200px;
  height: 100px;
  background-color: #CCE6E4;
}
.bgg1 .box3 {
  width: 200px;
  height: 100px;
  background-color: #FCAAAA;
}

.bg21 {
  background-image: url(../images/background-12.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg21 {
    height: auto;
  }
}

.ff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 480px) and (max-width: 760px) {
  .ff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bg2 {
  color: #fff;
  background: #06254C;
  padding: 40px 0;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg2 {
    text-align: center;
    padding: 10px 20px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg2 {
    text-align: center;
    padding: 10px 20px;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg2 {
    text-align: center;
    padding: 10px 20px;
  }
}
.bg2 h1 {
  padding-top: 40px;
  font-size: 40px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg2 h1 {
    text-align: center;
    font-size: 30px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg2 h1 {
    text-align: center;
    font-size: 40px;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg2 h1 {
    text-align: center;
    font-size: 55px;
  }
}
.bg2 .z {
  border-radius: 50%;
  width: 580px;
  height: 575px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg2 .z {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg2 .z {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 290px;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg2 .z {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 290px;
  }
}
.bg2_left {
  margin-right: 20px;
}
.bg2_right {
  color: #fff;
}
.bg2_right h4 {
  color: #00ff99;
  padding: 20px 0;
}
.bg2_right h1 {
  font-size: 36px;
  padding: 20px 0;
}

.circle {
  margin: 25px 0;
}
.circle img {
  border-radius: 50%;
  margin-right: 20px;
}

.bg3 {
  background-image: url(../images/background-3.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg3 {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg3 {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bg3 h4 {
  color: #00ff99;
}
.bg3 .cir {
  margin: 15px 0;
}
.bg3 .cir img {
  border-radius: 50%;
  margin-right: 20px;
}
.bg3 .rec {
  width: 580px;
  height: 155px;
  padding: 0 20px;
  background: #012d56;
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg3 .rec {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg3 .rec {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg3 .rec {
    width: 600px;
    height: 200px;
  }
}
.bg3 .rec:hover {
  background-color: #fff !important;
  color: black;
}
.bg3 .rec:hover h4 {
  color: black;
}

.flex-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 0px) and (max-width: 480px) {
  .flex-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .flex-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .flex-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cor-symptom {
  padding: 20px 0;
  color: #fff;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 480px) {
  .cor-symptom {
    display: none;
  }
}

.bg4 {
  background: #06254C;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg4_left {
  color: #fff;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg4_left {
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg4_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bg4_left h4 {
  color: #00ff99;
  padding: 20px 0;
}
.bg4_left h1 {
  font-size: 36px;
  padding: 20px 0;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg4_left h1 {
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg4_left h1 {
    font-size: 30px;
  }
}
.bg4_left .cir {
  margin: 15px 0;
}
.bg4_left .cir img {
  border-radius: 50%;
  margin-right: 20px;
}
.bg4_left .rec {
  width: 580px;
  height: 155px;
  padding: 0 20px;
  background: #012d56;
  border-radius: 20px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg4_left .rec {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg4_left .rec {
    width: 300px;
    height: 300px;
  }
}
.bg4_left .rec:hover {
  background-color: #fff !important;
  color: black;
}
.bg4_left .rec:hover h4 {
  color: black;
}
.bg4_right {
  margin-right: 20px;
}
.bg4 .z {
  border-radius: 50%;
  width: 578px;
  height: 577px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg4 .z {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg4 .z {
    width: 360px;
    height: 290px;
  }
}

.w-100 {
  width: 50px;
  height: 50px;
}

.aa {
  background-color: #06254C;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 999;
}
@media (min-width: 760px) and (max-width: 1045px) {
  .aa {
    height: auto;
  }
}

.arrow {
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  line-height: 45px;
  text-align: center;
}
.arrow a {
  color: #fff;
}

.bg5 {
  background: #012d56;
  text-align: center;
  color: #fff;
  height: 120vh;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg5 {
    height: 230vh;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg5 {
    height: 240vh;
  }
}
.bg5 h2 {
  padding-top: 40px;
}
.bg5 .ff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg5 .ff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bg5 .boxx {
  text-align: center;
  overflow: hidden;
  width: 350px;
  height: 460px;
  background: #044557;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg5 .boxx {
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg5 .boxx {
    margin-bottom: 30px;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg5 .boxx {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.bg5 .boxx .lar {
  font-size: 40px;
  font-weight: 400;
  color: #CCE6E4;
}
.bg5 .boxx .inc {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.bg5 .boxx:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg6 {
  background: #012d56;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  height: 125vh;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg6 {
    height: auto;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg6 {
    height: auto;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg6 {
    height: auto;
  }
}
.bg6 .boxx {
  text-align: center;
  color: #00ff99;
  font-size: 45px;
  width: auto;
}
.bg6 .fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg6 .fl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg6 .fl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bg6 .padding {
  padding: 80px 0;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg6 .padding {
    padding: 50px 0;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg6 .padding {
    padding: 70px 0;
  }
}
.bg6 .box {
  padding-left: 30px;
  padding-bottom: 60px;
  width: 400px;
  height: auto;
  background-color: rgb(49, 50, 50);
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg6 .box {
    margin-bottom: 20px;
    width: auto;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg6 .box {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg6 .box {
    margin-bottom: 30px;
    width: auto;
  }
}
.bg6 .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg6 .boxx1 {
  color: #fff;
}
.bg6 .boxx1 span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg6 .boxx1 {
    padding: 20px 0;
  }
}

.bg66 {
  background-color: cadetblue;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg66 .footer-left {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .bg66 .footer-left {
    display: none;
  }
}
@media (min-width: 760px) and (max-width: 1045px) {
  .bg66 .footer-left {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .bg66 .footer-center {
    display: none;
  }
}
.bg66 .f-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bg66 .footer-bottom {
  text-align: center;
}

.small {
  width: 30px;
  height: 30px;
  padding-right: 3px;
}

.fleex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 11px;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */