@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
@mixin res($min:0px,$max:480px){
  @media (min-width:$min) and (max-width:$max){
    @content;
  }}
@mixin res1($min:480px,$max:760px){
  @media (min-width:$min) and (max-width:$max){
    @content;
   }
}
@mixin res2($min:760px,$max:1045){
  @media (min-width:$min) and (max-width:$max){
    @content;
   }
}
.bg1{
    background-image: url(../images/background-12.jpg);
    background-size:cover;
    background-position: center;
    height: 125vh;
    overflow: hidden;
    @include res1{
      padding: 10px 20px;
      height: 250vh;
    }
  }
  header{
    padding: 15px 0;
  }
  .container{
    margin:auto;
    max-width:1200px;
  }
  .f{
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include res{
      flex-direction: column;
    }
    @include res1{
      flex-direction: column;
    }
  }
  

  nav{
    ul{
        list-style: none;
        @include res{
          display: none;
        }
        @include res1{
          display: none;
        }
        li{
            display:inline;
            padding:10px;
            font-size: 18px;
            a{
                color:white;
            }
            
            }
        }
        
    }
nav li:hover a {
      color: red;
    }
  
  
  .logo{
    flex-grow:1;
    padding-left:20px;
    
  }
    
  .btn{
    border:2px solid #fff;
    padding:20px 40px;
    border-radius:30px;
    margin-left: 20px;
    color:#fff;
   
  }
  .bg1_left{
    
    color:#fff;
    h1{
      @include res{
      font-size: 49px;
      }
      @include res1{
        font-size: 60px;
      }
        font-size:70px;
        font-weight:900;
        padding:20px 0;
        color:#1bfca2;

    }
    h2{
      @include res{
      font-size: 35px;
      }
        font-size:55px;
       color:aqua;
       padding:20px 0;

    }
   
  }
  .f-1{
display: flex;
padding-top: 20px;
justify-content: space-around;
  }
  .capital{
    font-size: 150px;
    @include res{
      font-size: 80px;
    }
  }
  .rotate{
    @include res{
      width: 100%;
    }
    animation: rot 12s infinite linear;

  }
  @keyframes rot {
    100%{transform: rotate(360deg);}
    
    
  }
  .footer-container{
    background-color: #06254C;
    color: #fff;
  

  }
  .copyright{
    color:#fff;
    font-size: 20px;
    text-align: center;
  }
  .r{
    width:39px;
    height:20px;
    border-radius:50%;
    
  }
 .bgg1{
  background-image:url(../images/background-12.jpg);
  height: 150vh;
  @include res1{
    height: 140vh;
  }
  .small-box{
    text-align: center;
    background-color:#044557;
    width: auto;
    height:371px;
    @include res{
      height:auto;
    }
    @include res1{
      height: auto;
      overflow-y: hidden;
      
    }
  }
  h1{
    text-align: center;
    font-size:80px;
     color:aqua;
    padding-top:40px;
     padding-bottom:40px;
  }
  h2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size:60px;
    font-weight:900;
    padding:20px 0;
    color:#1bfca2;
    
  }
  .f{
    display: flex;
    justify-content: space-around;
  .gole{
    border-radius: 50%;
    width: 23px;
    height: 27px;
  }  

  }
  .box-f{
    font-size: 30px;
    font-weight: 400;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .box{
    width: 200px;
    height: 100px;
    background-color:#F8ECFF;
  }
  .box1{
    width: 200px;
    height: 100px;
    background-color:#FFBD80;
  }
  .box2{
    width: 200px;
    height: 100px;
    background-color:#CCE6E4;
  }
  .box3{
    width: 200px;
    height: 100px;
    background-color:#FCAAAA;
  }
    
  }
  
  .bg21{
    background-image: url(../images/background-12.jpg);
    background-size:cover;
    background-position: center;
  }
  .ff{
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include res1{
      flex-direction: column;
      
    }
  }
  
  
.bg2{
  @include res{
    text-align: center;
    padding:10px 20px;
  }
  @include res1{
    text-align: center;
    padding:10px 20px;
  }
  
  h1{
    padding-top: 40px;
    font-size: 40px;
    @include res{
      text-align: center;
      font-size: 30px;
    }
   
  }
  color:#fff;
  background: #06254C;
  padding: 40px 0;
  .z{
    border-radius: 50%;
    width: 580px;
    height:575px;
    @include res{
      display: flex;
      align-items: center;
      width:300px;
      height:250px;
    }
    @include res1{
      display: flex;
      align-items: center;
      width:360px;
      height:290px;
    }

  }
  &_left{
      margin-right: 20px;

  }
  &_right{
      color:#fff;
      h4{
          color:#00ff99;
          padding:20px 0;
      }
      h1{
          font-size: 36px;
          padding: 20px 0;
      }

  }
}
.circle{
  margin: 25px 0;
  img{
      border-radius: 50%;
      margin-right: 20px;
  }
}
.bg3{
  @include res1{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  background-image: url(../images/background-3.jpg);
  background-size:cover;
  background-position: center;
  h4{
    color:#00ff99;
  }
  color:#fff;
  .cir{
    margin: 15px 0;
    img{
        border-radius: 50%;
        margin-right: 20px;
    }
  }
  .rec{
    @include res{
      display: none;
    }
    @include res1{
      width:400px;
      height:200px;
    }
    width:580px;
    height:155px;
    padding:0 20px;
    background:#012d56;
    border-radius: 20px;
    transition:.3s ease;
  }
  .rec:hover {
    background-color: #fff !important;
    color:black;

    h4{
      color:black;
    }
  }
  }
  
  .flex-h{
    display: flex;
    justify-content: space-around;
    @include res{
      flex-direction: column;
    }
    @include res1{
      flex-direction: column;
    }
    
  }
  .flex-v{
    display: flex;
    flex-direction: column;
  }
  .cor-symptom{
    @include res{
      display: none;

    }
    
    padding:20px 0;
    color:#fff;
    text-align: center;
    
  }

.bg4{
  background: #06254C;
  padding: 40px 0;
  align-items: center;
  &_left{
    @include res{
      text-align: center;
      
    }
    @include res1{
      display:flex;
      flex-direction: column;
      align-items: center;
      
    }
      color:#fff;
      h4{
          color:#00ff99;
          padding:20px 0;
      }
      h1{
          font-size: 36px;
          padding: 20px 0;
          @include res{
            font-size: 20px;
            
          }
          @include res1{
            font-size: 30px;
            
          }
      }
      .cir{
        margin: 15px 0;
        img{
            border-radius: 50%;
            margin-right: 20px;
        }
      }
      .rec{
        width:580px;
        height:155px;
        padding:0 20px;
        background:#012d56;
        border-radius: 20px;
        @include res{
          width:300px;
          height:300px;
        }
        @include res1{
          width:300px;
          height:300px;
        }
      
      }
      .rec:hover {

        background-color: #fff !important;
        color:black;
        h4{
          color:black;
        }
      }

      

  }
  &_right{
      margin-right: 20px;
      
  }
  .z{
    border-radius: 50%;
    width: 578px;
    height:577px;
    @include res{
      width:300px;
      height:250px;
    }
    @include res1{
      width:360px;
      height:290px;
    }
}
}

.w-100{
width: 50px;
height: 50px;
}
.aa{
  background-color: #06254C;
  color: #fff;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 90px;
  z-index: 999;
}
.arrow{
  width: 45px; 
  height:45px;
  background-color: red;
  border-radius: 50%;
  position: fixed;bottom:20px;right:20px;
  display: none;
  line-height: 45px;
  text-align: center;
  a{
    color:#fff;
  }
}
.bg5{
  background:#012d56;
  text-align: center;
  color: #fff;
  height: 120vh;
  @include res{
    height:230vh;
    
  }
  @include res1{
    height:240vh;
    
  }
  
  h2{
    padding-top:40px;
  }
  .ff{
    display: flex;
    padding-top:30px;
    justify-content: space-around;
    @include res{
      flex-direction: column;
    }
    
  }
  .boxx{
    text-align: center;
    overflow: hidden;
    width:350px;
    height:460px;
    background: #044557;
    transition: .3s all;
    @include res{
      margin-bottom: 20px;
    }
    @include res1{
      margin-bottom: 30px;
    }
    .lar{
      font-size: 40px;
      font-weight: 400;
      color:#CCE6E4;
    }
    .inc{
      width: 100%;
      height: 100%;
      transition: .3s all;
    }
  }
  .boxx:hover{
    transform: scale(1.1);
  }
}
.bg6{
  background: #012d56;
  align-items: center;
  padding-bottom: 40px;
  height: 125vh;
  @include res1{
   height:120vh;
    
  }
  .boxx{
    text-align: center;
    color:#00ff99;
    font-size:45px;
    width:auto;
   
  }
.fl{
  display:flex;
  justify-content: space-evenly;
  @include res{
    flex-direction: column;
    
  }
  @include res1{
    flex-direction: column;
    
  }
}
.padding{
  padding:80px 0;
  @include res{
    padding:50px 0;
    
  }
  @include res1{
    padding:70px 0;
    
  }
}
.box{
  padding-left: 30px;
  padding-bottom:60px;
  width:400px;
  height: auto;
  background-color:rgb(49, 50, 50);
  @include res{
    margin-bottom: 20px;
   width: auto;
    
  }
  @include res1{
    margin-bottom: 30px;
   width: auto;
    
  }
}
.center{
  display: flex;
  align-items: center;
}
  .boxx1{
    color:#fff;
    span{
      align-items: center;
    }
    @include res{
      padding:20px 0;
      
    }
    
  }
  
}
.bg66{
  background-color: cadetblue;
  font-weight: 500;
  .footer-left{
    @include res{
      display: none;
    }
    @include res1{
      display: none;
    }
    
  }
  .footer-center{
    @include res{
      display:none;
    }
  }
  .f-1{
    display: flex;
    justify-content: space-around;
  }
  .footer-bottom{
    text-align: center;
  }
}
.small{
  width: 30px;
  height: 30px;
  padding-right: 3px;
}
.fleex{
  display: flex;
  align-items: center;
  padding-bottom: 11px;
}
html
{
  scroll-behavior: smooth;
}